{% extends '_base.html' %}

{% block title %}
    Hello, Welcome I'm Fiqri
{% endblock title %}

{% block content %}
    <section id="index"
             class="flex flex-col h-[50vh] w-screen bg-white text-wrap lg:flex lg:flex-row lg:justify-between lg:items-center lg:px-48 text-gray-700 basis-3">
        <div class="lg:w-1/2">
            <img class="inline-block size-10 rounded-full ring-2 mb-4 ring-white"
                 src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                 alt="">
            <h1 class="text-4xl text-wrap text-gray-700">
                Hello,<br> I'm Fiqri Khoirul Muttaqin
            </h1>
        </div>
        <div class="lg:w-1/2">
            <div class="mb-8">
                <h1 class="text-4xl text-wrap text-gray-700 mb-4">
                    A Backend Developer based in Bandung, Indonesia
                </h1>
                <p>
                    Back-end Developer with 3 years of experience in crafting innovative applications that priorities
                    user
                    needs and enhance
                    system performance. Proficient in PHP, Typescript, and Go, driving the development of robust web
                    solutions and Restful
                    API, ensuring seamless integration and improved user experiences.
                </p>
            </div>

            <div class="flex items-center gap-4">
                <a href="" class="w-fit p-4 bg-gray-700 hover:bg-gray-800  text-white rounded-md">Talk With Me</a>
                <a href="#selected_works" class="text-gray-700 hover:text-gray-800">See My Works</a>
            </div>
        </div>
    </section>

    <section id="working_experience" class="w-screen bg-brown-50 px-10 py-28 text-gray-700 flex">
        <div class="w-1/2">
            <h1 class="text-center text-4xl capitalize mb-16">working experience</h1>
            <div class="px-24">
                <div class="flex flex-col">
                    {% for experience in work_experiences %}
                        <div class="flex flex-row gap-4 items-center mb-8">
                            {% if experience.image != '' %}
                            <img class="inline-block size-10 rounded-md ring-2 ring-white bg-white shadow-md rounded-md" src="/assets/{{ experience.image }}" alt="company logo">
                            {% else %}
                            <img class="inline-block size-10 rounded-md ring-2 ring-white bg-white shadow-md rounded-md" src="/assets/suitcase.png" alt="company logo">
                            {% endif %}

                            <div>
                                <p>{{ experience.role }} at {{ experience.company }}</p>
                                <p class="text-gray-500">
                                    {{ experience.start_date }} - {% if experience.end_date is None %}Present {% else %}{{ experience.end_date }} {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="w-1/2">
            <h1 class="text-center text-4xl capitalize mb-16">skills</h1>
            <div class="px-24">
                <div class="flex flex-col">
                    {% for skill in skill_sets %}
                        <div class="flex flex-row gap-4 items-center mb-8">
                            <img class="inline-block size-10 rounded-md ring-2 ring-white bg-white shadow-md rounded-md"
                                 src="/assets/{{ skill.image }}" alt="Skill Logo">

                            <div>
                                <p>{{ skill.name }}</p>
                                <p class="text-gray-500">{{ skill.level.title }} ({{ skill.year_experience }} year experience)</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="selected_works" class="min-h-screen w-screen bg-brown-50 px-10 py-28 text-gray-700">
        <h1 class="text-center text-4xl capitalize mb-16">selected works</h1>
        <div class="grid grid-cols-1 px-24 gap-4 p-4 md:grid-cols-2 lg:grid-cols-3">
            {%for portfolio in portfolios%}
                <div class="bg-white rounded-md shadow-md p-6 text-gray-700 max-h-[800px] flex flex-col justify-between">
                    <img src="/assets/{{ portfolio.portfolioimages_set.first.file }}" alt="" class="rounded-md mb-4 tex-center w-screen object-cover h-[400px] w-[600px]">
                    <div>
                        <p class="mb-2 font-bold">{{ portfolio.title }}</p>

                        <div class="mb-4 text-gray-500">
                            <p>{{ portfolio.company }}, {{ portfolio.year|date:"Y" }}</p>
                        </div>
                    </div>

                    <p class="mb-4">
                        {% autoescape off %}
                            {{ portfolio.summary|truncatewords:20 }}
                        {% endautoescape %}
                    </p>

                    <div class="flex gap-4">
                        <button class="w-fit py-2 px-3 bg-gray-700 hover:bg-gray-800  text-white rounded-md" id="show_portfolio_detail" data-id={{portfolio.id}}>
                            View details work
                        </button>
                        {% if portfolio.url is not None %}
                        <a href="{{ portfolio.url }}" class="w-fit py-2 px-3  text-gray-700 rounded-md border-2 border-gray-600">
                            See Demo
                        </a>
                        {% endif %}
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>

    <section id="index" class="flex flex-col h-[50vh] w-screen bg-brown-50 text-wrap lg:flex lg:flex-row lg:justify-between lg:items-center lg:px-48 text-gray-700">
                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum facere ipsa iusto maxime
                    molestiae tempore.
                </p>
    </section>

    <section id="selected_works" class="w-screen bg-brown-50 px-10 py-28 text-gray-700">
        <h1 class="text-center text-4xl capitalize mb-16">Articles</h1>
        <div class="grid grid-cols-1 px-24 gap-4 p-4 md:grid-cols-2 lg:grid-cols-3">
            <div class="bg-white rounded-md shadow-md p-4 text-gray-700">
                <img src="https://placehold.co/600x400" alt="" class="rounded-md mb-4">
                <p class="mb-4">Article Title</p>

                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum facere ipsa iusto maxime
                    molestiae tempore.
                </p>

                <button class="w-fit py-2 px-3 bg-gray-700 hover:bg-gray-800  text-white rounded-md">
                    Show more
                </button>
            </div>

            <div class="bg-white rounded-md shadow-md p-4 text-gray-700">
                <img src="https://placehold.co/600x400" alt="" class="rounded-md mb-4">
                <p class="mb-4">Article Title</p>

                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum facere ipsa iusto maxime
                    molestiae tempore.
                </p>

                <button class="w-fit py-2 px-3 bg-gray-700 hover:bg-gray-800  text-white rounded-md">
                    Show more
                </button>
            </div>

            <div class="bg-white rounded-md shadow-md p-4 text-gray-700">
                <img src="https://placehold.co/600x400" alt="" class="rounded-md mb-4">
                <p class="mb-4">Article Title</p>

                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum facere ipsa iusto maxime
                    molestiae tempore.
                </p>

                <button class="w-fit py-2 px-3 bg-gray-700 hover:bg-gray-800  text-white rounded-md">
                    Show more
                </button>
            </div>

            <div class="bg-white rounded-md shadow-md p-4 text-gray-700">
                <img src="https://placehold.co/600x400" alt="" class="rounded-md mb-4">
                <p class="mb-4">Article Title</p>

                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum facere ipsa iusto maxime
                    molestiae tempore.
                </p>

                <button class="w-fit py-2 px-3 bg-gray-700 hover:bg-gray-800  text-white rounded-md">
                    Show more
                </button>
            </div>
        </div>
    </section>

    <div id="modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-md shadow-md max-w-sm min-w-[80vw] max-h-[100vh] min-h-[80vh]">
            <h2 class="text-xl font-bold" id="modal_title"></h2>
            <h2 class="text-md font-bold mb-4 text-gray-500" id="modal_company"></h2>
            <div class="overflow-scroll flex flex-col h-[75vh]">
                <div id="modal_carousel" class="mb-8"></div>
                <p class="text-gray-700 mb-4" id="modal_body"></p>
            </div>
            <div class="flex justify-end mt-4">
                <button id="close_modal" class="px-4 py-2 text-white bg-red-600 rounded-lg hover:bg-red-700">
                    Close
                </button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $(document).on('click', '#close_modal', function() {
                $('#modal').addClass('opacity-0');
                $('body').css('overflow', 'auto');
                setTimeout(() => {
                    $('#modal').addClass('hidden');
                }, 300);
            });

            $(document).on('click', '#img_preview_list', function () {
                $("#modal").find('#modal_carousel').find('#img_preview_showcase').attr('src', $(this).attr('data-img'));
            });

            $(document).on("click", "#show_portfolio_detail", function () {
                const id = $(this).attr('data-id');
                $('body').css('overflow', 'hidden');

                $.ajax({
                    type: "GET",
                    url: `/portfolio/${id}`,
                    cache: false,
                    success: function(response){
                        const projectYear = new Date(response.data.year).getFullYear();
                        $("#modal").find('#modal_title').html(response.data.title);
                        $("#modal").find('#modal_body').html(response.data.description);
                        $("#modal").find('#modal_company').html(`<p>${response.data.company}, ${projectYear}</p>`);

                        let images = [];
                        let carouselImageContainer = "";
                        response.data.images.forEach(image => {
                            images.push(`assets/${image}`)
                        });

                        $("#modal").find('#modal_carousel').addClass('flex flex-row gap-4 h-[50vh]');
                        carouselImageContainer += `
                            <div class="w-full justify-center items-center">
                                <img src="${images[0]}" alt="" class="object-contain w-full shadow-md rounded-md h-full" id="img_preview_showcase" data-id="${images[0]}" data-img=${images[0]}/>
                            </div>
                        `

                        carouselImageContainer += `<div class="flex flex-col w-1/5 overflow-scroll gap-4">`;
                        images.forEach((image, idx) => {
                            carouselImageContainer += `
                                <div class="w-full">
                                    <img src="${image}" alt="" class="shadow-md rounded-md hover:cursor-pointer" id="img_preview_list" data-id="${idx}" data-img=${image}/>
                                </div>
                            `;
                        });
                        carouselImageContainer += `</div>`;

                        $("#modal").find('#modal_carousel').html(carouselImageContainer);
                        $("#modal").removeClass("opacity-0");
                        setTimeout(() => {
                            $("#modal").removeClass("hidden");
                        }, 300);
                    }
                });
            });
        });
    </script>
{% endblock script %}
